html {
}

body {
	background-color: transparent;
	font-family: Calibri, Verdana, Ariel, sans-serif;
	font-size: 14px;
}
a {
	color: #0099FF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#label
{

	font-style:"verdana";
	font-weight:bold;
	font-size:1.1em;
	color: #000000;
}

label
{
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}

.field
{
	font-style:"verdana";
	font-weight:normal;
	font-size:1.1em;
	color: #000000;
}

input
{
	font-size: 1.1em;
	color: black;
	background: #FFFFFF;
	border: 1px solid gray;
        -webkit-border-radius: 2px;-moz-border-radius:2px;border-radius:2px;
}
input[type='text'] {
  padding:0px 2px;
  height:20px;
  box-sizing:border-box;
}
select {padding:2px;}

input.submit {
	margin-left: 8px;
	height:22px;
	font-size: 12px;
	font-weight:bold;
	color: #FFFFFF;
	background-color: #012D58;
	background-image: url(../images/bg4.gif);
	border: 0px;
        font-family: Arial, Helvetica, sans-serif;
	-webkit-border-radius: 2px;-moz-border-radius:2px;border-radius: 2px;
}
input.submit:hover {
        cursor:pointer;
	color:#000066;
	background-color: #00CCFF;
	background-image: url(../images/bg3.gif);
}
fieldset
{
}

legend
{
}

#heading
{
	font-style:verdana;
	font-weight:bold;
	font-size:1.25em;
	color: #000000;
}
#tbheading
{

	background-color:#003399;
	font-style:"verdana";
	font-size:0.60em;
	color: #FFFFFF;
}

#tbcontent
{

	background-color:#B8B8B8;
	font-style:"verdana";
	font-size:0.60em;
	color: #000000;
}

.tb_no_style {
	border: 0;
	margin: 0;
	padding: 0;
}
.red {
	color: #C10000;
}
table {
	font: normal 75%/150% Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border-top: 3px double DimGray;
	border-bottom: 3px double DimGray;
	text-align:left;
}

th {
	font: bold 1.1em/120% Verdana, Arial, Helvetica, sans-serif;
	padding: 5px 10px;
	font-variant: small-caps;
	color: #047;
	font-weight: bold;
	text-align: left;
	letter-spacing: -1px;
}
thead th {
	border: 1px solid DimGray;
	white-space: nowrap;
	background: Gainsboro;
}

tbody td,tbody th {
	padding: 2px 10px;
	color: #000;
}
tbody th {
	color: #047;
	font-weight: normal;
	font-variant: normal;
	font-size: 1em;
}
tbody tr.odd {
	border: 1px solid #eeecec;
	text-align:left;
}
tbody tr.odd td, tbody tr.odd th {
  border: 1px solid #e4e3e3;
	background: #eeecec;
	text-align:left;
}
tbody tr.even {
  border: 1px solid #e4e3e3;
	text-align:left;
}
tbody tr.changed {
	border: 1px solid #87CEFA;
}
tbody tr.changed td, tbody tr.changed th {
	background-color: #E9E9E9;
}
tfoot td, tfoot th {
	border: none;
	padding-top: 10px;
}
caption {
	font-family: "Georgia", serif;
	letter-spacing: 5px;
	font-style: italic;
	text-align: left;
	text-indent: 2em;
	text-transform: uppercase;
	font-size: 150%;
	padding: 10px 0;
	color: #047;
}
table a:link {
	color: #FF9900;
}
table th a:link {
	color: #047;
	text-decoration: none;
}
table a:visited{
	color: #3366FF;
}
table a:hover{
	color: #FF0000;
	text-decoration:none;
}
table a:active{
	color: #000;
}

#tabs a,#pg td a{
	color:#fff;
	background-attachment: scroll;
	background-color: #2F94BA;
	background-image: url(../wamp/www/multilink/images/bg4.gif);
	background-repeat: repeat-x;
	background-position: top;
}
.head,#pg td a{
	font-size:12px;
	font-weight:bold;
}
#pg td a:hover,#pg td a#th2{
	color:#003366;
	background-attachment: scroll;
	background-color: #E0F4FB;
	background-image: url(../wamp/www/multilink/images/bg3.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.dl1,.dl2,#pg{
	table-layout:fixed;
}
#pg{
	margin-left:1px;
	_margin:0;
	padding:0;
	border-collapse:collapse;
	border:0;
	margin-bottom:6px;
}
#pg th{
	font-size:13px;
	color:#a1a1a1;
	padding-bottom:2px;
}
#pg td{
	text-align:center;
	padding:12px 0 12px 10px;

	_padding:13px 0 10px;
}
#pg br{
	line-height:4px;
}
#pg td a{
	display:table-cell;
	display:inline-block;
	border-left:4px solid #fff;
	width:25px;padding:2px 0 3px;
	margin:0 0 4px 0;
	text-align:center;
	text-decoration:none;
}

.none {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.head_pop {
	background-image: url(images/retailtraiding_pop_02.jpg);
	height: 68px;
	background-repeat: repeat-x;
}

	.tabDiv {
	 width:151px;
	 height:24px;
	 font-size: 11px;
  font-family: arial;
  font-weight: bold;
  text-decoration: underline;
  color: white;
  background-image: url(../images/tab-sel.png);
	 background-repeat: no-repeat;
	 background-position: right center;
	 text-align:center;
	 display : table-cell;
	 vertical-align:middle;
	}

	.tabDiv:hover {
  font-weight: bold;
  text-decoration: underline;
  color: white;
	}

	.tabDivDisabled {
	 width:151px;
	 height:24px;
	 font-size: 11px;
  font-family: arial;
  font-weight: bold;
  text-decoration: underline;
  color: white;
  background-image: url(../images/tab-disabled.png);
	 background-repeat: no-repeat;
	 background-position: right center;
	 text-align:center;
	 display : table-cell;
	 vertical-align:middle;
	}

	.tabDivText {
	 height:34px;
	 font-size: 11px;
  font-family: arial;
  font-weight: bold;
  text-decoration: none;
  color: #2288ff;
	 text-align:left;
	 display : table-cell;
	 vertical-align:middle;
	}

	.tabDivStep {
	 height:34px;
	 font-size: 11px;
  font-family: arial;
  font-weight: bold;
  text-decoration: underline;
  color: #2288ff;
  background-image: url(../images/step-unsel.png);
	 background-repeat: no-repeat;
	 background-position: right center;
	 text-align:left;
	 display : table-cell;
	 vertical-align:middle;
	}

	.tabDivStep:hover {
  font-weight: bold;
  text-decoration: underline;
  color: ;
	}

	.tableReset {
	 border:none;
	 border-width:0px;
	 padding:0px;
	 margin:0px;
	 background-color:none;
	 font-size: inherit;
	 font: inherit;
	}

.standardFont
{
	font-style:"verdana";
	font-weight:normal;
	font-size:1.1em;
	color: #000000;
}

/*
#uiRadSel{display:block;font-family:'lucida sans unicode',verdana,tahoma,arial;list-style:none;padding:0px;margin:0px;font-size:10pt;}
#uiRadSel li{float:left;padding:0px;margin:0px;margin-right:2px;line-height:15px}
#uiRadSel a{outline:0px;display:block;border:2px solid #fff;font-size:0.75em;padding:2px 6px;text-decoration:none;background:#dedede;color:#777;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
#uiRadSel li a:hover{border:2px solid #fff;background:#fcffb4;color:#000;cursor:pointer;cursor:hand;}
#uiRadSel a.active{border:2px solid #F7D358;background:#fcffb4;color:#000;padding:2px 5px;font-size:0.85em}
#uiRadSel a.disabled{background:#ddd;color:#555;}
#uiRadSel li input{display:none;}
*/

.rdCrn1{-webkit-border-radius: 1px;-moz-border-radius:1px;border-radius: 1px;}
.rdCrn2{-webkit-border-radius: 2px;-moz-border-radius:2px;border-radius: 2px;}
.rdCrn3{-webkit-border-radius: 3px;-moz-border-radius:3px;border-radius: 3px;}
.rdCrn5{-webkit-border-radius: 5px;-moz-border-radius:5px;border-radius: 5px;}
.rdCrn8{-webkit-border-radius: 8px;-moz-border-radius:8px;border-radius: 8px;}
.rdCrn10{-webkit-border-radius: 10px;-moz-border-radius:10px;border-radius: 10px;}
.rdCrn15{-webkit-border-radius: 15px;-moz-border-radius:15px;border-radius: 15px;}

#dashPage{position:absolute;top:0px;left:0px;right:290px;bottom:0px;}
#dashPage .selectMenuCont{color:#777;margin:10px 20px 20px 40px; border:1px solid lightSkyblue;background:#d9d9d9 url('../images/ks_symbol.png') 30px center no-repeat ;font-size:16px;display:block;padding:35px 0px 30px 180px;}
#dashPage .selectMenuCont h1{color:#047;font-size:60px;margin:0px;padding:0px;line-height:50px;}
#dashPage .selectMenuCont h3{color:#047;font-size:40px;margin:0px 0px 10px 0px;padding:0px;letter-spacing:0.1em;}
#dashPage .sectionWrapper{display:block;padding-left:30px;color:#047}
#dashPage .sectionWrapper #accessWrapper{float:left;width:250px;}
#dashPage .sectionWrapper .header{padding:6px;font-size:20px;border-bottom:1px solid lightSkyBlue}
#dashPage .sectionWrapper .content{padding:12px 4px;font-size:12px;}
#dashPage .sectionWrapper .accessCon{color:#666;}
#dashPage .sectionWrapper #updatesWrapper{float:left;margin-left:30px;width:400px;}

#dashSidebar{position:absolute;top:0px;right:0px;bottom:0px;width:260px;padding:15px 15px 10px 10px;border-left:1px solid lightSkyBlue;background:aliceBlue;display:block;color:#047;}
#dashSidebar .header {font-size:20px;}
#dashSidebar .divider{width:150px;margin:25px 0px 15px 0px; border-top:1px dashed lightSkyblue;}
#accessItem{padding:3px 0px;margin-bottom:3px;color:#4FA92F;line-height:16px}
#accessItem span {color:#1E570A;font-weight:bold;}

#uiRadSize3 a{font-size:11px;font-weight:bold;padding:5px 10px;}
#uiRadSize3 a.active{font-size:11.5px;font-weight:bold;padding:5px 8px;}

#moreInfo{margin-top:1px;text-decoration:none;color:#666;line-height:24px;display:inline-block;border-top:1px solid lightSkyblue;border-bottom:1px solid lightSkyblue;background:aliceBlue url('../images/right_grey.png') top right no-repeat;}
#moreInfo span{padding:0px 30px 0px 15px;}
#moreInfo:hover{color:#047;background:lightskyblue url('../images/right_grey.png') bottom right no-repeat;}

.tracking-tabs-container {padding:2px 0px 20px 0px;}
.tracking-tabs-container ul {background:#eae9e9; margin: 0; padding: 0; border-bottom:1px solid #C8C7C7; padding-top:12px; }
.tracking-tabs-container ul li {margin:1px 3px 0px 3px;}
.tracking-tabs-container ul li {display: inline-block; zoom:1; *display:inline; background: #fff; border: solid 1px #dedede; border-bottom: none; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0; box-shadow:0px -1px 4px rgba(0,0,0,0.1); -webkit-box-shadow:0px -1px 4px rgba(0,0,0,0.1); -moz-box-shadow:0px -1px 4px rgba(0,0,0,0.1); }
.tracking-tabs-container ul li a {text-decoration:none; color:DarkSlateGray; font-size: 14px; line-height: 1.8em; display: block; padding: 0 15px; outline: none; }
.tracking-tabs-container li:hover {background:#C8C7C7; border-color: #dedede; -webkit-box-shadow:0px -2px 10px #dedede; -moz-box-shadow:0px -2px 10px #dedede; box-shadow:0px -2px 10px #dedede; }
.tracking-tabs-container li a:hover {color:DarkSlateGray; }
.tracking-tabs-container li.active {background: #C8C7C7; padding-top: 3px; margin:-5px 3px 0px 3px; position: relative; top: 1px; border-color: DarkSlateGray; }
.tracking-tabs-container li.active a {color:#047; font-weight: bold;}



/* new bootstrap styles */



.dropdown .dropdown-menu .nav-header {
  padding-right: 20px;
  padding-left: 20px;
}

.typeahead {
  z-index: 1051;
  margin-top: 2px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.well-large {
  padding: 24px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.well-small {
  padding: 9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.collapse.in {
  height: auto;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-link {
  color: #0088cc;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-link:hover {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover {
  color: #333333;
  text-decoration: none;
}

.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

.btn-group:first-child {
  *margin-left: 0;
}

.btn-group + .btn-group {
  margin-left: 5px;
}

.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0;
}

.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group {
  margin-left: 5px;
}

.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group > .btn + .btn {
  margin-left: -1px;
}

.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14px;
}

.btn-group > .btn-mini {
  font-size: 10.5px;
}

.btn-group > .btn-small {
  font-size: 11.9px;
}

.btn-group > .btn-large {
  font-size: 17.5px;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn-group > .btn + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group > .btn-mini + .dropdown-toggle {
  *padding-top: 2px;
  padding-right: 5px;
  *padding-bottom: 2px;
  padding-left: 5px;
}

.btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}

.btn-group > .btn-large + .dropdown-toggle {
  *padding-top: 7px;
  padding-right: 12px;
  *padding-bottom: 7px;
  padding-left: 12px;
}

.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0044cc;
}

.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}

.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}

.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}

.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}

.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}

.btn-mini .caret,
.btn-small .caret,
.btn-large .caret {
  margin-top: 6px;
}

.btn-large .caret {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.dropup .btn-large .caret {
  border-bottom-width: 5px;
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-group-vertical {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.btn-group-vertical > .btn {
  display: block;
  float: none;
  max-width: 100%;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group-vertical > .btn + .btn {
  margin-top: -1px;
  margin-left: 0;
}

.btn-group-vertical > .btn:first-child {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.btn-group-vertical > .btn:last-child {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.btn-group-vertical > .btn-large:first-child {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}

.btn-group-vertical > .btn-large:last-child {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

.btn-group a.btn:link, .btn-group a.btn, .btn-group a.btn:visited{
  color:#047;
}
.btn-group a.btn-info:link, .btn-group a.btn-info, .btn-group a.btn-info:visited{
  color:#fff;
}
.rounded-corners {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
